.selected-interests-field {
    display: flex;
    flex-wrap: wrap;
    background-color: #F8F8F8;
    border-radius: 6px;
    padding: 12px;

    .placeholder {
        font-size: 14px;
        color: #949494;
    }

    .interest {
        display: flex;
        align-items: center;
        background: #5295F1;
        border-radius: 4px;
        padding: 8px 12px;
        color: white;
        max-height: 32px;
        margin-right: 8px;
        margin-bottom: 8px;

        span {
            font-size: 14px;
            margin-right: 12px;
        }
    }
}