.interests-field {
    padding: 24px;
    border-top: 1px solid #E8E8E8;
    border-top: 1px solid #E8E8E8;
    position: relative;

    h3 {
        font-weight: 450;
        font-size: 16px;
        color: #222222;
        text-align: left;
    }

    .found-interests {
        position: absolute;
        width: calc(100% - 48px);
        left: 24px;
        top: 102px;
        background: #FFFFFF;
        border: 1px solid #B1CEF9;
        border-radius: 6px;
        padding: 0;

        .found-interest {
            list-style-type: none;
            padding: 11px 10px;
            border-bottom: 1px solid #E8E8E8;
            text-align: left;
            font-size: 14px;
            color: #222222;
        }

        .first-found-interest {
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
        }

        .last-found-interest {
            border-bottom: none;
            border-bottom-right-radius: 6px;
            border-bottom-left-radius: 6px;
        }
    }
}