.authorization {
  padding: 24px;
  padding-top: 36px;
  position: relative;

  h3 {
    font-weight: 500;
    font-size: 24px;
    color: #5295F1;
    margin-bottom: 15px;
  }

  a {
    color: #5295F1;
  }

  .logo {
    margin-bottom: 24px;
  }

  &-changer-form {
    font-size: 14px;
    color: #919191; 
    margin-top: 124px;
    // position: fixed;
    // bottom: 40px;
    // left: 0;
    // right: 0;
  }

  &-navbar {
    h4 {
      // opacity: 0;
      color: #B1CEF9;
      font-size: 18px;
      line-height: 16px;
    }
  }
}