.fade-page {
  overflow-y: auto;
  position: absolute;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
  z-index: 1001;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  transition: all .3s cubic-bezier(0, 0, 0, 0.99);
}