.tabbar-item {
    small {
        display: inherit;
        margin-top: 2px;
        font-size: 10px;
        line-height: 12px;
        font-weight: 400;
        color: #919191;
    }
}

.tabbar-item-active {
    small {
        color: #5295F1;
        font-weight: 550;
    }
}