.common-profile-info {
  .info {
    padding: 0;
    margin: 0;
    text-align: start;

    

    li {
      list-style-type: none;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0px;
      }

      img {
        margin-right: 10px;
      }

      span {
        font-size: 14px;
      }

      .value {
        color: #5295F1;
      }
    }
  }
}