.profile-form {
    padding: 70px 0 55px 0;

    .form-holder {
        padding: 24px;
    }

    .control-input {
        margin-bottom: 12px;
    }

    .part-block {
        padding: 24px;
        border-top: 1px solid #E8E8E8;
        border-bottom: 1px solid #E8E8E8;
    }
}