.profile-form {
    // padding: 70px 0 55px 0;
    padding-bottom: 55px;
    padding-top: 70px;

    .form-holder {
        padding: 24px;
        border-bottom: 1px solid #E8E8E8;
    }

    .control-input {
        margin-bottom: 12px;
    }

    .part-block {
        padding: 24px;
        border-top: 1px solid #E8E8E8;
        border-bottom: 1px solid #E8E8E8;
    }

    // NAVBAR BUTTONS
    .nav-button {
        font-size: 18px;
    }

    .nav-button-ready {
    }

    .nav-button-cancel {
        
    }

    .field-block {
        border-bottom: 1px solid #E8E8E8;
        padding: 24px;

        h3 {
            font-weight: 450;
            font-size: 16px;
            color: #222222;
            text-align: left;
        }
    }
}