.avatar-control {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 250px;
    z-index: 1;

    .avatar {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #E5EFFD;

        .mock {
            margin: auto;
            margin-top: 220px;
        }

        .photo {
            width: 100%;
        }

        .gallery {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            .hidden-buttons {
                display: flex;

                div {
                    height: 240px;
                    flex: 1;
                    background-color: transparent;
                }

            }

            .gallery-controls {
                position: absolute;
                top: 240px;
                left: 0;
                right: 0;
                display: flex;
                padding: 0 16px;
    
                .gallery-control {
                    height: 3px;
                    background-color: rgba(255, 255, 255, 0.658);
                    border-radius: 2px;
                    flex: 1;
                    margin: 0 4px;
                }
    
                .gallery-control-active {
                    background-color: rgba(73, 73, 73, 0.836);
                }
            }
        }
    }

    .avatar-next {

    }
}