.profile-settings {
    &-form {
        .avatar-block {
            display: flex;
            justify-content: center;
            position: relative;

            img {
                border-radius: 100%;
                width: 100px;
                height: 100px;
            }

            input[type="file"] {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                opacity: 0;
            }
        }
    }
}