.modal-control {
    position: absolute;
    background-color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateY(400px);
    box-shadow: -3px -4px 15px rgba(51, 51, 51, 0.05);
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    z-index: 2;
    
    .top {
        padding-top: 16px;
        text-align: center;

        div {
            width: 48px;
            height: 4px;
            border-radius: 2px;
            background-color: #E8E8E8;
            margin: auto;
        }
    }

    .collegue-info {
        padding: 30px 24px 10px 24px;

        .top-info {
            transition: all .3s;
            overflow: hidden;
            opacity: 1;
        }

        .top-info-hide {
            opacity: 0;
        }

        .name {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #222222;
            text-align: left;
            min-width: 300px;
        }

        .position {
            display: block;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: #686868;
            text-align: left;
            min-width: 300px;
        }
    }
}