.interests-field {

    .interests-items {
        display: flex;
        flex-wrap: wrap;
    }

    .interest {
        background: #F5F9FF;
        border: 1px solid #B1CEF9;
        border-radius: 4px;
        padding: 3px 12px;
        font-size: 14px;
        color: #222222;
        margin-right: 8px;
        margin-bottom: 8px;
    }
}