.interests-field {
    border-bottom: 1px solid #E8E8E8;
    padding: 24px 24px 16px 24px;

    h3 {
        font-size: 16px;
        color: #222222;
    }

    .interests-items {
        display: flex;
        flex-wrap: wrap;
    }

    .interest {
        background: #FFFFFF;
        border: 1px solid #B1CEF9;
        border-radius: 4px;
        padding: 3px 12px;
        font-size: 14px;
        color: #222222;
        margin-right: 8px;
        margin-bottom: 8px;
    }
}