.finish-page {
    background: #F8F8F8;
    height: 100%;

    .part-block {
        background-color: white;
    }

    .input-title {
        text-align: start;
        font-size: 14px;
        line-height: 16px;
        color: #686868;
        margin-bottom: 4px;
    }

    .time-picker {
        margin-top: 24px;
    }

    .members-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #949494;
        padding: 20px 24px 13px 24px;
        text-align: start;
        margin-bottom: 0;
    }
}