.form {
  .ant-form-item {
    // Не получается задать margin надо разобраться
    margin-bottom: 12px;
  }

  .control-button {
    margin-top: 32px;
  }
}

.form-login {

}

.form-registration {
  transform: translateX(400px);
  transition: all .3s ease-out;
}

.form-registration-show {
  transform: translateX(0px);
}