.form {
  background-color: white;

  .ant-form-item {
    // Не получается задать margin надо разобраться
    margin-bottom: 12px;
  }

  .control-button {
    margin-top: 32px;
  }
}

.form-login {

}

.form-registration {
  position: absolute;
  left: 0;
  top: 157px;
  width: 100%;
  padding: 0 24px;
  transform: translateX(400px);
  transition: all .4s cubic-bezier(0, 0, 0, 0.99);
}

.form-registration-show {
  transform: translateX(0px);
}

.form-login {
  opacity: 0;
  transition: all .4s cubic-bezier(0, 0, 0, 0.99);
}

.form-login-show {
  opacity: 1;
}